<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/areas.css">
</head>
<body>
    <header class="header">
        <div href="/img/logo.jpg" class="logo"></div>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/areas">Areas</a>
            <a href="/rides">Rides</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact Us</a>
            <a href="/minigame">Mini-Game</a>
        </div>
    </header>
    <div class="container">
        <div class="slide">
            <div class="item" style="background-image: url(/img/jungle.jpg);">
                <div class="content">
                    <div class="name">Croco Falls</div>
                    <div class="des">Explore the lush, verdant jungles of Croco 
                        Falls where adventure awaits at every turn. Listen to the 
                        cascading waterfalls as you navigate through this vibrant 
                        and mysterious habitat, home to our spectacular crocodile 
                        inhabitants.</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/img/swamp.jpg);">
                <div class="content">
                    <div class="name">Croco Swamp</div>
                    <div class="des">Venture into the depths of Croco Swamp, 
                        where the air is thick with mystery. This eerie yet 
                        fascinating swamp environment offers visitors a chance 
                        to see crocodiles in their natural marshy home.</div>
                        <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/img/museum.png);">
                <div class="content">
                    <div class="name">Croco Show</div>
                    <div class="des">Don't miss our Croco Show, a thrilling educational 
                        experience where you learn about the life of crocodiles. Watch live 
                        feeding sessions and learn from our experts about these magnificent 
                        creatures.</div>
                        <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/img/swim.jpg);">
                <div class="content">
                    <div class="name">Croco dive</div>
                    <div class="des">Get up close and personal in the Croco Dive. 
                        Dive into our safe and secure underwater viewing tunnels 
                        that give you a crocodile-eye view of aquatic life.</div>
                        <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/img/cocodrilo-park.jpg);">
                <div class="content">
                    <div class="name">Croco area</div>
                    <div class="des">Our Croco Area offers a wide, open space where you can 
                        relax and watch crocodiles lounging in their habitats. Ideal for family 
                        picnics and educational trips to understand these ancient predators.</div>
                        <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/img/museums.png);">
                <div class="content">
                    <div class="name">Croco Museum</div>
                    <div class="des">Visit the Croco Museum to discover the 
                        fascinating history and science of crocodiles. 
                        Featuring fossils, interactive exhibits, and much more, 
                        it's perfect for curious minds of all ages.</div>
                        <button>See More</button>
                </div>
            </div>
        </div>
        <div class="buttonn">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>

<footer class="footer">
    <p>© 2024 Your Startup | All Rights Reserved | <a href="mailto:info@yourstartup.com">info@yourstartup.com</a></p>
</footer>
<script src="/js/areas.js"></script>

</body>
</html>
