<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/areas.css">
</head>
<body>
    <header class="header">
        <a href="../img/logo.jpg" class="logo">Your Logo</a>
        <div class="navbar">
            <a class="active" href="/">Home</a>
            <a href="/areas">Areas</a>
            <a href="/rides">Rides</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact Us</a>
        </div>
    </header>
    <div class="container">
        <div class="slide">
            <div class="item" style="background-image: url(/img/jungle.jpg);">
                <div class="content">
                    <div class="name">Jungle Falls</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Id quo doloribus aut doloremque illum nisi at distinctio eaque, cumque 
                    est vitae necessitatibusvoluptatum commodi consectetur. Molestiae 
                    cum praesentium unde libero.</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/img/swamp.jpg);">
                <div class="content">
                    <div class="name">Crocodile Swamps</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Id quo doloribus aut doloremque illum nisi at distinctio eaque, cumque 
                        est vitae necessitatibusvoluptatum commodi consectetur. Molestiae 
                        cum praesentium unde libero.</div>
                        <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/img/museum.png);">
                <div class="content">
                    <div class="name">Feeding Show</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Id quo doloribus aut doloremque illum nisi at distinctio eaque, cumque 
                        est vitae necessitatibusvoluptatum commodi consectetur. Molestiae 
                        cum praesentium unde libero.</div>
                        <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/img/swim.jpg);">
                <div class="content">
                    <div class="name">Croco ride</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Id quo doloribus aut doloremque illum nisi at distinctio eaque, cumque 
                        est vitae necessitatibusvoluptatum commodi consectetur. Molestiae 
                        cum praesentium unde libero.</div>
                        <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/img/cocodrilo-park.jpg);">
                <div class="content">
                    <div class="name">viewing area</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Id quo doloribus aut doloremque illum nisi at distinctio eaque, cumque 
                        est vitae necessitatibusvoluptatum commodi consectetur. Molestiae 
                        cum praesentium unde libero.</div>
                        <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/img/museums.png);">
                <div class="content">
                    <div class="name">Stroll in Our Museum</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Id quo doloribus aut doloremque illum nisi at distinctio eaque, cumque 
                        est vitae necessitatibusvoluptatum commodi consectetur. Molestiae 
                        cum praesentium unde libero.</div>
                        <button>See More</button>
                </div>
            </div>
        </div>
        <div class="buttonn">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>

<footer class="footer">
    <p>© 2024 Your Startup | All Rights Reserved | <a href="mailto:info@yourstartup.com">info@yourstartup.com</a></p>
</footer>
<script src="../js/areas.js"></script>

</body>
</html>
