<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>

    <header class="header">
        <a href="../img/logo.jpg" class="logo">Your Logo</a>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/areas">Areas</a>
            <a href="/rides">Rides</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact Us</a>
            <a href="/minigame">Mini-Game</a>
        </div>
    </header>
    <form action="/submit-form" method="post" class="form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea><br><br>
        <button type="submit" onclick="openPopup()">Send</button>
    </form>
    <div class="popup" id="confirmationPopup">
        <img src="/img/404-tick.png" alt="Confirmation Tick">
        <h2>Message Sent!</h2>
        <p>Thank you for your message. We will get back to you soon.</p>
        <button type="button" onclick="closePopup()">OK</button>
    </div>

    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Croco<span>-Island</span></h3>
    
            <p class="footer-links">
                <a href="/">Home</a>
                |
                <a href="/areas">Areas</a>
                |
                <a href="/rides">Rides</a>
                |
                <a href="/faq">FAQ</a>
                |
                <a href="/contact">Contact Us</a>
                |
                <a href="/minigame">Mini-Game</a>
            </p>
    
            <p class="footer-company-name">Copyright © 2024 <strong>Croco-Island</strong> All rights reserved</p>
        </div>
    
        <div class="footer-center">
            <div>
                <i class="fa-solid fa-location-pin"></i>
                <p><span>Southampton</span>
                    Hampshire</p>
            </div>
    
            <div>
                <i class="fa-solid fa-phone"></i>
                <p>+44 77**97**25</p>
            </div>
            <div>
                <i class="fa-solid fa-envelope"></i>
                <p><a href="mailto:sagar00001.co@gmail.com">Crocoisland@co.ac.uk</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About Us</span>
                <strong>Croco-Island</strong> Is a marvelous world filled with activities and 
                fun lounges to spot corodiles with numerous rides for kids and adults
                to experience the corodile wilderness 
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </footer>
<script src="/js/contact.js"></script>

</body>
</html>
