<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/faq.css">
</head>
<body>
    <header class="header">
        <a href="/" class="logo">
            <img src="/img/logo.jpg" alt="Croco-Island Logo" style="width: 100px; height: 100px; border-radius: 50%;">
        </a>
        <%- include('particles/nav.ejs') %>
    </header>
    <div class="wrapper">
        <p>What's on your mind </p>
        <h3>Frequently Asked Questions</h3>
        <div class="faq active">
            <button class="accordion">
                what is Croco-Island?
                <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>Croco-Island is one of the best parks known world wide,
                    it containes numerous areas to discover and understand
                    more about corodiles and their habitats.Not to forget
                    it has corodolie theme rides to enjoy and conquer your 
                    fear.
                </p>
            </div>
        </div>
        <div class="faq">
            <button class="accordion">
                Do you offer any discounts?
                <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>We offer various discounts including reduced 
                    rates for children under the age of 12 and seniors 
                    over the age of 65. We also provide special group 
                    rates for groups of more than 15 people. Please visit 
                    our customer service page for more details.
                </p>
            </div>
        </div>
        <div class="faq active">
            <button class="accordion">
                what safety measures are in place?
                <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>The safety of our guests is our top priority. 
                    All rides are inspected daily by certified technicians 
                    to ensure they are in perfect working condition. We also 
                    have trained security, personnel and first aid stations 
                    located throughout the park.
                </p>
            </div>
        </div>
        <div class="faq active">
            <button class="accordion">
                Is there a locker facility or storage facility in the park?
                <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>We provide locker rental services near the main entrance and throughout the park. 
                    Lockers are available on a first-come, first-served basis and can be used to store 
                    personal belongings securely while you enjoy the rides.
                </p>
            </div>
        </div>
        <div class="faq active">
            <button class="accordion">
                Are we allowed to feed the corodiles?
                <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
                <p>Feeding the crocodiles is stricly prohibited for visitors,
                    as it might cause some issues or put the person in a dangerous 
                    situation we leave the feeding the trained personal and the visitors 
                    could watch. 
                </p>
            </div>
        </div>
    </div>


<%- include('particles/footer.ejs') %>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for(i = 0; i < acc.length ; i++){
        acc[i].addEventListener("click", function(){
            this.classList.toggle("active");
            this.parentElement.classList.toggle("active");

            var pannel = this.nextElementSibling;

            if(pannel.style.display === "block") {
                pannel.style.display = "none"
            } else {
                pannel.style.display = "block"
            }
        });
    }
</script>
</body>
</html>
