<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<header class="header">
    <a href="/" class="logo">
        <img src="/img/logo.jpg" alt="Croco-Island Logo" style="width: 100px; height: 100px; border-radius: 50%;">
    </a>
    <%- include('particles/nav.ejs') %>
</header>

<section class="home">
    <div class="home-content">
        <h1>Discover Croco-Island</h1>
        <h3>Find the best crocodile inspired rides.</h3>
        <p>Croco-Island welcomes you to discover its beautiful attractions and different rides compatible for kids and adults.<strong>Open April to October, 9AM to 7PM, Every Day</strong></p>
        <div class="btn-box">
            <a href="#" role="button" onclick="openPopup(); return false;">Book Now</a>
            <a href="#" role="button">Buy ticket</a>
        </div>
        <div class="popup" id="popup">
            <img src="/img/404-tick.png" alt="Confirmation Tick">
            <h2>Thank you!</h2>
            <p>Your booking has been successful</p>
            <button type="button" onclick="closePopup()">OK</button>
        </div>
    </div>
</section>

<%- include('particles/footer.ejs') %>
<script>
    let popup = document.getElementById("popup");

    function openPopup() {
        popup.classList.add("open-popup");
    }
    function closePopup() {
        popup.classList.remove("open-popup");
    }
</script>
</body>
</html>