<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <header class="header">
        <a href="/img/logo.jpg" class="logo"></a>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/areas">Areas</a>
            <a href="/rides">Rides</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact Us</a>
            <a href="/minigame">Mini-Game</a>
        </nav>
    </header>

<section class="home">
    <div class="home-content">
        <h1>Discover Croco-Island</h1>
        <h3>Find the best crocodile inspired rides.</h3>
        <p>Croco-Island welcomes you to discover its beautiful 
            attractions and different rides compatible for kids and 
            adults.<b>Open April to October, 9AM to 7PM, Every Day</b>
        </p>
        <div class="btn-box">
            <a href="#" onclick="openPopup(); return false;">Book Now</a>
            <a href="#">Buy ticket</a>
        </div>
        <div class="popup" id="popup">
            <img src="/img/404-tick.png" alt="Confirmation Tick">
            <h2>Thank you!</h2>
            <p>Your booking has been successful</p>
            <button type="button" onclick="closePopup()">OK</button>
        </div>
    </div>
</section>

<footer class="footer-distributed">

    <div class="footer-left">
        <h3>Croco<span>-Island</span></h3>

        <p class="footer-links">
            <a href="/">Home</a>
            |
            <a href="/areas">Areas</a>
            |
            <a href="/rides">Rides</a>
            |
            <a href="/faq">FAQ</a>
            |
            <a href="/contact">Contact Us</a>
            |
            <a href="/minigame">Mini-Game</a>
        </p>

        <p class="footer-company-name">Copyright © 2024 <strong>Croco-Island</strong> All rights reserved</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa-solid fa-location-pin"></i>
            <p><span>Southampton</span>
                Hampshire</p>
        </div>

        <div>
            <i class="fa-solid fa-phone"></i>
            <p>+44 77**97**25</p>
        </div>
        <div>
            <i class="fa-solid fa-envelope"></i>
            <p><a href="mailto:sagar00001.co@gmail.com">Crocoisland@co.ac.uk</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About Us</span>
            <strong>Croco-Island</strong> Is a marvelous world filled with activities and 
            fun lounges to spot corodiles with numerous rides for kids and adults
            to experience the corodile wilderness 
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</footer>
<script>
    let popup = document.getElementById("popup");

    function openPopup(){
        popup.classList.add("open-popup")
    }
    function closePopup(){
        popup.classList.remove("open-popup")
    }
</script>
</body>
</html>
