<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/minigame.css">
</head>
<body>

    <header class="header">
        <a href="../img/logo.jpg" class="logo">Your Logo</a>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/areas">Areas</a>
            <a href="/rides">Rides</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact Us</a>
            <a href="/minigame">Mini-Game</a>
        </div>
    </header>

    <h1>Memory Cards</h1>
    <div class="grid-container">
    </div>
    <p>Score : <span class="score"></span></p>
    <div class="actions">
        <button onclick="restart()">Restart</button>
    </div>

<footer class="footer">
    <p>© 2024 Your Startup | All Rights Reserved | <a href="mailto:info@yourstartup.com">info@yourstartup.com</a></p>
</footer>
<script src="/js/minigame.js"></script>
</body>
</html>
