<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/minigame.css">
</head>
<body>

    <header class="header">
        <a href="/" class="logo">
            <img src="/img/logo.jpg" alt="Croco-Island Logo" style="width: 100px; height: 100px; border-radius: 50%;">
        </a>
        <%- include('particles/nav.ejs') %>
    </header>

    <h1>Memory Cards</h1>
    <div class="grid-container">
    </div>
    <p>Score : <span class="score"></span></p>
    <div class="actions">
        <button class="btn" onclick="restart()">Restart</button>
    </div>
<%- include('particles/footer.ejs') %>
<script src="/js/minigame.js"></script>
</body>
</html>
