<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/rides.css">
</head>
<body>
    <header class="header">
        <a href="/" class="logo">
            <img src="/img/logo.jpg" alt="Croco-Island Logo" style="width: 100px; height: 100px; border-radius: 50%;">
        </a>
        <%- include('particles/nav.ejs') %>
    </header>
    <div class="container">
        <div class="slide">
            <div class="item" style="background-image: url(/img/kids-ride.jpg);">
                <div class="content">
                    <div class="name">Croco kids-ride</div>
                    <div class="des">A ride dedicated to kids to jump on
                        board this spining ride and enjoy it with other youngsters
                    </div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/img/ride.jpg);">
                <div class="content">
                    <div class="name">Spot the crocodile</div>
                    <div class="des">Give the kids a chance to enjoy this 
                        wonderful ride which will take them through some areas in the park
                        and play a game <b>"Spot the corodile"</b></div>
                        <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(/img/croc-drop.jpg);">
                <div class="content">
                    <div class="name">Croco Drop</div>
                    <div class="des">It's a new ride that has been built for this specific park
                        and espicially can only be used for people that are 14 of over, for safety
                        purpose.
                    </div>
                        <button>See More</button>
                </div>
            </div>
        </div>
        <div class="buttonn">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>

<%- include('particles/footer.ejs') %>
<script src="/js/rides.js"></script>

</body>
</html>
