@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto" sans-serif; 
}

body {
    background-color: #b3e0e3;
}


.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2vh 10vw; 
    background: rgba(255, 255, 255, 0.5); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: absolute; 
}



.logo {
    display: block;
    width: 12vh; 
    height: 12vh; 
    background: url('/img/logo.jpg') no-repeat center center;
    background-size: cover; 
    border-radius: 50%; 
}

@media (max-width: 768px) {
    .logo {
        width: 80px; 
        height: 80px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 60px;  
        height: 60px;
    }
}


.navbar a {
    font-size: 2.25vh; 
    color: #00796b; 
    text-decoration: none;
    font-weight: 900;
    margin-left: 4.5vh; 
    padding: 1.25vh 1.5vh;
    transition: color 0.3s;
    font-family: "Poppins" sans-serif;
}

.navbar a:hover,
.navbar a.active {
    color: #004d40; 
}


.wrapper {
    max-width: 75vw; 
    margin: auto;
    padding: 2vh 2vw; 
    text-align: center; 
    padding-bottom: 5vh;
}

.wrapper p {
    margin-top: 150px;
}

.wrapper .pannel p {
    margin-top: 3px;
    font-family: 'Roboto', sans-serif;
}

.wrapper h3 {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2vh; 
}



.accordion {
    background-color: white; 
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.8vh; 
    width: 100%;
    padding: 3vh 3vw; 
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2); 
}

.accordion i {
    font-size: 1.6rem;
}

.active,
.accordion:hover {
    background-color: #f1f7f5;
}

.pannel {
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
    justify-content: center;
}

.pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    line-height: 1;
}

.faq {
    margin: 10px 0;
}

.faq.active {
    border: none;
}



footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #b3e0e3;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}



.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: cornflowerblue;
}



.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}



.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: transparent;
    color: #fff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: cornflowerblue;
    text-decoration: none;
    ;
}



.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #004d40;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}