<nav class="navbar">
    <a href="/">Home</a>
    <a href="/areas">Areas</a>
    <a href="/rides">Rides</a>
    <a href="/faq">FAQ</a>
    <a href="/contact">Contact Us</a>
    <a href="/minigame">Mini-Game</a>
</nav>